<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercity Transportation System</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="" onclick="goToHome(); return false;">Intercity Transportation System</a>
            </div>
            <div class="navbar-center">
                <a href="line-schedules">Rozkład jazdy</a>
            </div>
            <div class="navbar-right">
                <% if (passenger) { %>
                  <a href="reservations">Moje rezerwacje</a>
                  <a href="#" id="logout-link">Wyloguj</a>
                <% } else { %>
                  <a href="login">Zaloguj</a>
                <% } %>
            </div>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
    </footer>
    
    <script>
        function goToHome() {
            const basePath = window.location.pathname.split('/').slice(0, 2).join('/') + '/';
            window.location.href = basePath;
        }
    </script>
    
    <% if (passenger) { %>
        <script src="js/logout.js"></script>
    <% } %>
</body>
</html>
