<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercity Bus</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header>
        <nav class="navbar modern-navbar navbar-flex navbar-justified">
            <div class="navbar-links-row">
                <a href="" class="navbar-link navbar-brand" onclick="goToHome(); return false;">Intercity Bus</a>
                <a href="line-schedules" class="navbar-link">Rozkład jazdy</a>
                <% if (passenger) { %>
                  <a href="reservations" class="navbar-link">Moje rezerwacje</a>
                  <a href="#" id="logout-link" class="navbar-link">Wyloguj</a>
                <% } else { %>
                  <a href="login" class="navbar-link">Zaloguj</a>
                <% } %>
            </div>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
    </footer>
    
    <script>
        function goToHome() {
            const basePath = window.location.pathname.split('/').slice(0, 2).join('/') + '/';
            window.location.href = basePath;
        }
    </script>
    
    <% if (passenger) { %>
        <script src="js/logout.js"></script>
    <% } %>
</body>
</html>
