<div class="login-form-outer">
  <div class="login-form-container">
    <h2 class="mb-4">Rejestracja</h2>
    <form id="register-form" method="POST" action="register">
      <div class="mb-3">
        <label for="passenger_name" class="form-label">Imię</label>
        <input type="text" class="form-control" id="passenger_name" name="passenger_name" required placeholder="Wprowadź imię">
      </div>
      <div class="mb-3">
        <label for="passenger_surname" class="form-label">Nazwisko</label>
        <input type="text" class="form-control" id="passenger_surname" name="passenger_surname" required placeholder="Wprowadź nazwisko">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required placeholder="Wprowadź email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="password" name="password" required placeholder="Wprowadź hasło">
      </div>
      <button type="submit" class="btn btn-primary login-btn">Zarejestruj się</button>
    </form>
    <div class="login-register-info mt-4 text-center">
      Masz już konto? <a href="login" class="register-link">Zaloguj się</a>
    </div>
    <div id="register-error" class="alert alert-danger mt-3 d-none" role="alert"></div>
  </div>
</div>
<script src="js/register.js"></script>
